<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
  </head>
  <body>
    <div class="root">
      <div
        class="
          container-fluid
          bg-light
          d-flex
          justify-content-center
          align-items-center
        "
      >
        <%- body %>
      </div>
    </div>
  </body>
</html>
